.aiButton {
  position: fixed;
  bottom: 5.85rem;
  right: 2.2rem;
  background-color: var(--color-accent-mint);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border: none;
  cursor: pointer;
}

.aiIcon {
  color: var(--color-bg);
  font-size: 1.4rem;
}