.container {
  padding: 0;
  /* margin: 5.3rem auto 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-width: 98%; */
}

.sectionTitle {
  font-family: var(--font-primary);
  font-size: 1.28rem;
  margin: 2rem 0 1.4rem;
  color: var(--color-primary-text);
  text-align: center;
}

.buttonRow {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.gradeButton {
  padding: 0.6rem 1.2rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-primary-text);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 120px;
}

.green {
  background-color: var(--color-accent-green);
}

.yellow {
  background-color: var(--color-accent-yellow);
}

.blue {
  background-color: var(--color-accent-blue);
}

.purple {
  background-color: var(--color-accent-purple);
}

.pink {
  background-color: var(--color-accent-pink);
}

.cyan{
  background-color: var(--color-accent-cyan);
}

.orange{
  background-color: var(--color-accent-orange);
}

.mint{
  background-color: var(--color-accent-mint);
}

.orchid {
  background-color: var(--color-accent-orchid);
}
