.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  margin-top: 3.9rem;
}

.title {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  margin: 1rem 0;
  color: var(--color-primary-text);
}

.card {
  background: white;
  box-shadow: var(--shadow-main);
  border-radius: var(--radius-main);
  width: 79%;
  text-align: center;
}

.thumbnail {
  width: 100%;
  border-radius: var(--radius-main);
  margin-bottom: 1rem;
}

.description {
  color: var(--color-primary-text);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.arrowButton {
  background-color: var(--color-accent-yellow);
  border-radius: 10px;
  padding: 0.6rem 0.9rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.arrow {
  font-size: 1.2rem;
  color: var(--color-primary-text);
  font-family: var(--font-primary);
}

.arrowWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2.5rem;
}