.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5.5rem;
  margin-top: 5rem;
}

.card {
  background: white;
  box-shadow: var(--shadow-main);
  border-radius: var(--radius-main);
  width: 88%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  padding-bottom: 2rem;
}

.description {
  color: var(--color-primary-text);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0 1.9rem;
}

/* Next Button */
.nextButton {
  font-family: var(--font-primary);
  background-color: #ededed;
  border-radius: 10px;
  padding: 0.7rem 0.95rem;
  margin-top: 1.2rem;
  /* box-shadow: var(--shadow-main); */
}

.arrow {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--color-primary-text);
  font-family: var(--font-secondary);
}

.arrowWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Video */
.video {
  width: 100%;
  height: 410px;
  object-fit: cover;
  object-position: top;
  border-radius: var(--radius-main);;
}

.videoWrapper {
  position: relative;
}

.playOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  color: var(--color-primary-text);
  font-size: 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding: 0;
}

.playOverlay svg {
  transform: translatex(2px); /* try 1px or 2px if needed */
}
