.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem auto;
  padding-bottom: 5rem;
}

.subtitle {
  text-align: center;
  color: var(--color-primary-text);
  font-family: var(--font-primary);
  font-size: 1rem;
  margin: 1.25rem 0 0.5rem 0;
}

.category {
  font-family: var(--font-heading);
  font-size: 1.2rem;
  color: var(--dark);
  margin: 1.5rem 0 0.75rem;
}

.courseButton {
  background: white;
  box-shadow: var(--shadow-main);
  width: 310px;
  height: 57px;
  padding: 0.7rem;
  margin: 0.6rem auto;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  border-radius: var(--radius-main);
  }

.chapterList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chapterItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
  font-family: var(--font-primary);
  font-size: 1rem;
}

.chapterNumber {
  width: 30px;
  height: 28px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var( --font-primary);
  font-size: 1rem;
  font-weight: 600;
}

/* Color circles */
.blue { background-color: var(--color-accent-blue); }
.yellow { background-color: var(--color-accent-yellow); }
.orange { background-color: var(--color-accent-orange); }
.mint { background-color: var(--color-accent-mint); }
.pink { background-color: var(--color-accent-pink); }
.cyan { background-color: var(--color-accent-cyan); }
.green { background-color: var(--color-accent-green); }
.purple { background-color: var(--color-accent-purple); }
.red { background-color: var(--color-accent-red); }
.orchid { background-color: var(--color-accent-orchid); }

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}