.pageHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 1rem 0;
  text-align: center;
}

.pageHeader h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  color: var(--color-primary-text);
}