.wrapper {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  /* margin-top: 2rem; */
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #eee; /* Faded */
}

.active {
  background-color: var(--color-accent-yellow); /* Highlighted dot */
}
