.pageHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 0.8rem 0;
  text-align: center;
}

.pageHeader h2 {
  font-family: var(--font-secondary);
  margin: 0;
  color: var(--color-primary-text);

}

.centerAlign {
  text-align: center;
}

.leftAlign {
  text-align: left;
  padding-left: 2.3rem;
}

.largeText {
    font-size: 1.6rem;
}

.smallText {
  font-size: 1rem;
  font-weight: 600;
}